@tailwind base;
@tailwind components;
@tailwind utilities;
 
@layer base {
  :root {
    --background: 228 25% 13%;
    --foreground: 0 0% 100%;
    
    --card: 228 25% 13%;
    --card-foreground: 0 0% 100%;
 
    --popover: 228 25% 13%;
    --popover-foreground: 0 0% 100%;
 
    --primary: 252 84% 74%;
    --primary-foreground: 0 0% 100%;
 
    --secondary: 267 35% 54%;
    --secondary-foreground: 0 0% 100%;
 
    --muted: 228 25% 23%;
    --muted-foreground: 215 20.2% 65.1%;
 
    --accent: 316 89% 61%;
    --accent-foreground: 0 0% 100%;
 
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 100%;
 
    --border: 228 25% 23%;
    --input: 228 25% 23%;
    --ring: 252 84% 74%;
 
    --radius: 0.5rem;
  }
}
 
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    font-feature-settings: "rlig" 1, "calt" 1;
  }
}

.gradient-text {
  @apply bg-clip-text text-transparent bg-gradient-to-r from-primary to-accent;
}

.gradient-bg {
  @apply bg-gradient-to-r from-primary to-accent;
}